
li {
	
    color: black;
    font-size:20px;
}

ul {
	
    color: black;
    font-size:20px;
}

p {
	
    color: black;
    font-size:20px
}

a {
	
    color: black;
    font-size:20px;
}

h1 {
	color:turquoise;
	font-size:40px;
	font-weight: bold;
}


body {
    background: white url("images/background_image2.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

